<!doctype html>
<html class="h-100" lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Sprawdź, czy dzisiaj jest niedziela handlowa! Zobacz najbliższe niedziele handlowe w {{ "now" | date: "%Y" }} roku i zaplanuj zakupy."/>
    <meta property="og:image" content="https://czyjesthandlowa.pl/og-image.jpg"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/svg+xml" href="https://czyjesthandlowa.pl/favicon.svg">
    <link rel="icon" type="image/png" href="https://czyjesthandlowa.pl/favicon.png">
    <title>{{ page.title }} Sprawdź najbliższe niedziele handlowe w {{ "now" | date: "%Y" }} roku</title>
    <link rel="canonical" href="https://czyjesthandlowa.pl/"/>
    <script defer src="https://analytics.eu.umami.is/script.js"
            data-website-id="a4688a58-cb81-44c7-b67e-e8dc2287118f"></script>

</head>
<body class="d-flex flex-column h-100">
<main class="px-3">
    <article class="container my-5 bg-light text-dark">
        <div class="row p-4 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="p-3 p-lg-5 pt-lg-3">
                {{ content }}
            </div>
        </div>
    </article>
</main>
<footer class="footer mt-auto py-3 text-center">
    <div class="container">
        <span class="text-muted">Made with ☕ by <a href="https://github.com/skypaw/sunday-shopping" target="_blank"
                                                   rel="noopener noreferrer">me</a>.</span>
    </div>
</footer>
<script type="application/ld+json">{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "Czy dzisiaj jest niedziela handlowa?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{% capture today %}{{"now" | date: "%B %d, %Y"}}{% endcapture %}{% if site.data.filtered-shopping-sundays.dates[0] == today %}Tak, dzisiaj jest niedziela handlowa! 😄{% else %}Nie, dzisiaj nie jest niedziela handlowa. 😔{% endif %}"
      }
    },
    {
      "@type": "Question",
      "name": "Kiedy jest najbliższa niedziela handlowa?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Najbliższe niedziela handlowe przypada:{% for sunday in site.data.filtered-shopping-sundays.dates limit:1 %} {{ sunday | date: "%d.%m.%Y"}}{% endfor %}."
      }
    }
    {
      "@type": "Question",
      "name": "Kiedy są najbliższe niedziele handlowe?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Najbliższe niedziele handlowe to:{% for sunday in site.data.filtered-shopping-sundays.dates limit:3 %} {{ sunday | date: "%d.%m.%Y"}}{% endfor %}."
      }
    }
  ]
}
</script>
</body>
</html>
